[submodule "poster_page"]
	path = poster_page
	url = https://github.com/layumi/poster_page.git
[submodule "DG-Net"]
	path = DG-Net
	url = https://github.com/layumi/DG-Net.git
[submodule "ICME2022SS"]
	path = ICME2022SS
	url = https://github.com/layumi/ICME2022SS.git
[submodule "ACMMM2023Workshop"]
	path = ACMMM2023Workshop
	url = https://github.com/layumi/ACMMM2023Workshop.git
[submodule "Pytorch-reID"]
        path = Pytorch-ReID
        url = https://github.com/layumi/Person_reID_baseline_pytorch.git
[submodule "MORE2024"]
	path = MORE2024
	url = git@github.com:layumi/MORE2024.git
